<form method="post" action='/new'>
  <h1>Recipe Name: <input type="string" name="name"></h1>
  <h2>Ingredients: <textarea type="string" name="ingredients"></textarea></h2>
  <h2>Cook Time: <input type="string" name="cook_time"></h2>
</form>
